body
  
  &.submit
    .container
      .submit-container
        display block
      .list-container
        display none

  font 13px/1.25 Verdana, sans-serif

  .container
    width 976px
    margin 0 auto
    background-color #f6f6ef
    min-height 300px
    
    .top
      background-color #ff6600
      padding 4px 2px
      
      .logo
        color #fff
        border 1px solid #fff
        padding 1px 5px
        
      .title
        font-weight bold
      
      ul
        list-style none
        display inline
        padding-left 10px
        
        li
          display inline
          
          &.right
            float right
            padding-right 3px
          
          a
            color #000
            text-decoration none
    
    .submit-container
      display none
      padding 18px 3px
      
      .controls
        margin-bottom 5px
        
        label
          color #828282
          width 32px
          float left
          
        input[type=text]
          width 410px
          
      input[type=submit]
        margin-left 32px
        
    
    .list-container
      ol.posts
        color #999
        padding-left 30px
        margin-top 10px
        
        li
          margin-bottom 5px
          position relative
          padding-left 5px
          
          &.mine
            .upvote
              display none
            .asterisk
              display block
          
          .upvote
        	  width 0
        	  height 0
        	  border-left 4px solid transparent
        	  border-right 4px solid transparent
        	  border-bottom 7px solid #999
        	  cursor pointer
        	  display inline-block
        	  -webkit-user-select none
        	  position absolute
        	  top 6px
        	  left -6px
        	  
        	.asterisk
        	  display none
        	  color #ff6600
        	  position absolute
        	  top 1px
        	  left -6px
        	  
        	.title
        	  a
        	    color #000
        	    text-decoration none
        	    
        	    &:visited
        	      color #828282
        	    
        	.domain
        	  font-size 11px    
        	    
        	.meta
        	  display block
        	  color #828282
        	  font-size 9px
